.footer {
    background-color: #24caebba;
    color: #ffffff;
    padding: 40px 0;
  
    .footer-section {
      h5 {
        color: #ffff;
        margin-bottom: 20px;
      }
  
      p {
        color: #ffff;
      }
    }

    .footer-section p {
        color: #f8f9fa;
        margin-right: 3px;
    }

    .social-links a {
        display: inline-block;
<<<<<<< HEAD
        margin-right: 10px;
        color: #ffff;
=======
        margin-right: 3px;
        color: #f8f9fa;
>>>>>>> 25957505b1af84fcfc1f17df7e0cc88e9787768c
        transition: color 0.3s;
    }

    .social-links a:hover {
        color: #dab3b3;
    }

    .social-links i {
        font-size: 18px;
        margin-right: 3px;
    }

    .footer-bottom {
<<<<<<< HEAD
      margin-top: 20px;
      p {
        color: #ffff;
        margin-bottom: 0;
      }
    }
  }

  .copy{
    margin-top: 40px;
  }
  
=======
        margin-top: 20px;
        p {
            color: #f8f9fa;
            margin-bottom: 0;
        }
    }
}
>>>>>>> 25957505b1af84fcfc1f17df7e0cc88e9787768c
