<footer class="footer">
  <div class="container">
      <div class="row d-flex justify-content-around">
      <div class="col-md-4 footer-section">
        <h5></h5>
        <p>&copy; 2024 ChatFussion. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-4 footer-section" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
          <h5>Soporte Técnico</h5>
          <p><strong>Email:</strong> soporte@chatfussion.com</p>
      </div>
      <div class="col-md-4 footer-section" style="text-align: center;">
          <h5 style="text-align: center;">Redes Sociales</h5>
          <div class="social-links" style="display: flex; justify-content: center; padding-top: 10px;">
              <a href="#" class="twitter" style="margin: 0 10px;"><i class="fab fa-twitter"></i></a>
              <a href="#" class="facebook" style="margin: 0 10px;"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="instagram" style="margin: 0 10px;"><i class="fab fa-instagram"></i></a>
              <a href="#" class="linkedin" style="margin: 0 10px;"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
    </div>
  </div>
</footer>
