<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-section">
          <div class="copy">
            <p>&copy; 2024 CHATFUSSION.</p>
          </div>

        </div>
        <div class="col-md-4 footer-section">
          <h5>SOPORTE</h5>
          <p><strong>Email:</strong> soporte@chatfussion.com</p>
          <p><strong>Teléfono:</strong> +593 (02)cfussion</p>
        </div>
        <div class="col-md-4 footer-section">
          <h5>REDES SOCIALES</h5>
          <div class="social-links">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

    </div>
  </footer>
  
