<div class="bg-color">
    <div class="row">
        <div class="col-md-3">
            <div class="img">
                <img src="assets/logo.png" style="width: 20%; height: auto;">
            </div>
        </div>
        <div class="col-md-8">
            <div class="texto-cen">
                <h3>Es un Placer Tenerte de vuelta <b>{{user.name}}</b></h3>
            </div>
        </div>
        <div class="col-md-1">
            <button class="boton-salir btn btn-outline-primary" (click)="goBack()">SALIR</button>
        </div>
    </div>
</div>

