.bg-color{
    background-color: #00caad;
}

.texto-cen{
    margin-top: 30px;
    text-align: left;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.boton-salir{
    margin-top: 40px;
   
}

.boton-salir {
    background-color: #004445d1;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-salir:hover {
    background-color: #004445;
}