.bg-color{
    background-color: #89cefc;


    padding: 0 15px;
}

.texto-cen{
    margin-top: 20px;
    text-align: left;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.texto-cen h3{
    font-size: 25px;
}

.boton-salir{
    margin-top: 20px;
   
}

.boton-salir {
    background-color: #732595c3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-salir:hover {
    background-color: #732595;
}