
.boton-reg {
    background-color: #5b2c6fc3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-reg:hover {
    background-color: #5B2C6F;
}

  
  .boton-close {
    background-color: #c70038c7; 
    color: white; 
    border: none; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .boton-close:hover {
    background-color: #C70039;
  }
  

.campo-texto {
    width: 400px; 
  }
  

  .cabecera {
    background: #6A1D8A;
    text-align: center;
}


.cabecera h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color:#ffff;
}

.text-font{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}

.boton-registro{
    margin-left: 90px;    
}

.boton-registro button {
    margin-right: 10px; 
}

.boton-registro button:last-child {
    margin-left: 10px; 
}


.toggle-password-button {
  background-color: transparent;
  border: none; // Sin borde
  cursor: pointer; 
  outline: none; 
  padding: 0; 
}

.toggle-password-icon {
  margin-right: 10px;
  font-size: 24px; // Tamaño del ícono
  color: #757575; // Color del ícono
}

.toggle-password-icon.active {
  color: #a715e6; 
}

